<%= form_for([@user, @user.transactions.new], :remote => true, :id => 'new_transaction_form') do |f| %>

  <div class="field">
    <%= f.label :transaction_date %><br />
    <%= f.date_select :transaction_date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 3, :columns => 50 %>
  </div>
  
  <div class="action">
    <%= f.submit 'Create Transaction' %>
  </div>

<% end %>
